@import "tailwindcss";



@font-face {
  font-family: Font01;
  src: url(../public/Fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: Font02;
  src: url(../public/Fonts/Lausanne-500.woff2);
}
.moveX{
  animation-name: moveAnimation;
animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
  opacity: 0;
  transition: all ease-in-out;
}
.link:hover .moveLink{
  opacity: 1;
 
}
.stairRing{
  height: 0;
  transition:all
}
@keyframes moveAnimation{
  from{
    transform: translateX(0);
  }
  to{
       transform: translateX(-100%);
  }
}